*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    height: 100vh;
    position: relative;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* header-footer */
header {
    width: 100%;
    background-color: #1659bf;
    color: white;
}

header img {
    min-width: 400px;
}

header h1 a{
    color: white;
    font-size: 40px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;

}

footer #footer-ma {
   background-color: #1659bf;
   display: flex;
   justify-content: center;
}

/* conteúdo */
.hidden{
    display: none;
}

.show{
    display: block;
}