@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a onload="slide(1)" href="~/Denuncias/Create">Denuncia</a>
<a href="~/Usuarios/RealizarLogin">Login</a>
<a href="~/Usuarios/Cadastro">Cadastro</a>

@using (Html.BeginForm("logOut", "Usuarios")) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="logOut" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }

